<div class="row">
  <div class="col-md-8">
    <h5>
      Sections
      <small>
        list
      </small>
    </h5>
  </div>

  <div class="col-md-4">
    <button
        [routerLink]="['/questionnaires']"
        class="btn btn-sm btn-dark float-right ml-2 px-3">
      <i class="fa fa-angle-left"></i>
    </button>
    <button
        (click)="onNewSection()"
        class="btn btn-sm btn-primary float-right">
      <i class="fa fa-magic mr-1"></i>
      New
    </button>
  </div>
</div>

<hr class="mt-1">

<table
    *ngIf="questionnaire.sections.length > 0"
    dnd-sortable-container
    [sortableData]="questionnaire.sections"
    class="table table-bordered table-hover">
  <caption>
    <i class="fa fa-info-circle mr-1"></i>
    <i>Drag and drop a section row to change order.</i>
  </caption>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr
        *ngFor="let item of questionnaire.sections | sortBy: 'order'; let i = index;"
        dnd-sortable
        [sortableIndex]="i"
        (onDragEnd)="onItemDragEnd()">
      <th scope="row">{{ item.id }}</th>
      <td>{{ item.name }}</td>
      <td>
        <button
            [routerLink]="['/sections/' + item?.id]"
            class="btn btn-sm btn-primary">
          <i class="fa fa-eye mr-1"></i>
          View
        </button>
        <button
            (click)="onEditSection(item)"
            class="btn btn-sm btn-info">
          <i class="fa fa-edit mr-1"></i>
          Edit
        </button>
        <button
            (click)="onDeleteSection(item)"
            class="btn btn-sm btn-danger">
          <i *ngIf="!item.syncing" class="fa fa-trash mr-1"></i>
          <i *ngIf="item.syncing" class="fa fa-spin fa-spinner mr-1"></i>
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div *ngIf="questionnaire.sections.length == 0" class="alert alert-info">
  <i class="fa fa-info mr-1"></i>
  No sections found. Start by adding one by clicking the <i class="text-primary">New</i> button on the top right corner.
</div>